@model FarmTracker_web.Models.Farms.FarmProperties
@{
    ViewData["Title"] = "Property";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Farms/@Model.Fuid">@ViewData["CurrentFarmName"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>
<hr>
<div class="row">
    <div class="col-10">
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Search Plant, Tree...">
        </div>
    </div>
    <div class="col-2" style="text-align: right;">
        <button type="button" class="btn btn-success" onclick="dkPopup({
                    type: 'iframe',
                    iframeSrc: 'form.html',
                    title: 'Iframe Popup'
                })">
            New Entity
        </button>
    </div>
</div>
<div class="list-group">
    <div id="entities">
        <div class="out-of-middle"><div class="middle"><div style="text-align:center"><div class="lds-ripple"><div></div><div></div></div></div></div></div>
    </div>
</div>

@if (Model.Location != null)
{
    <br>
    <hr>
    <h2>Where is @Model.Name?</h2>
    <div style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=@Model.Location&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Draw map route</a></iframe></div>
}


@section Scripts{
    <script src="~/Content/farmTracker/js/farms.js"></script>
}