@model FarmTracker_web.Models.Farms.FarmProperties
@{
    ViewData["Title"] = "Property";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Farms/@Model.Fuid">@ViewData["CurrentFarmName"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>
<div class="farm-property-container">
    <button type="button" class="btn-plus express-menu-btn" data-menu-id="farmExpressMenu"><i class="fa fa-plus" data-menu-id="farmExpressMenu"></i></button>
    <div class="express-menu" id="farmExpressMenu">
        <a href="javascript:deleteFarmPropertyPopup('@Model.Name');" class="express-menu-item">Delete Property</a>
        <a href="javascript:addFPEntityPopup();" class="express-menu-item">Add Entity</a>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Properties" aria-label="Search Entities" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="entity-container" id="entities">
        <div class="out-of-middle"><div class="middle"><div style="text-align:center"><div class="lds-ripple"><div></div><div></div></div></div></div></div>
    </div>
</div>
<input type="hidden" id="PCUID" value="@Model.Cuid" />

@section Scripts{
    <script src="~/Content/farmTracker/js/farms.js"></script>
}