@{
    ViewData["Title"] = "Home Page";
}

<div  id="addsContainer" class="adds-container">
    <div class="cover-content"><div class="out-of-middle"><div class="middle"><div style="text-align:center"><div class="lds-ripple"><div></div><div></div></div></div></div></div></div>
</div>
