body{
    background-color: #fff;
}
.clr-primary{
    color: #007bff;
}

/*profile*/
.kardo-profile{
	text-align:left;
}
.kardo-profile .profile-pic{
	position:relative;
	border-radius:100%;
}
.kardo-profile .profile-pic img{
	max-width:100%;
	max-height:100%;
	border-radius:100%;
}
.kardo-profile .profile-pic a{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	border-radius:100%;
	background:rgba(0,0,0,0.6);
	color:#fff;
	text-align:center;
	font-size:14px;
	line-height:1;
	padding:calc(50% - 7px) 0px;
	opacity:0;
	transition:0.3 opacity;
}
.kardo-profile .profile-pic:hover a{
	opacity:1;
}
.kardo-profile label{
	display:inline-block;
	min-width:150px;
	margin:0px;
	padding-bottom:10px;
}

.member-types-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.member-types-container label{
    flex: 1;
    text-align: center;
    background-color: #66AF33;
    color: #fff;
    margin: 0 .5rem;
    margin-bottom: .5rem;
    padding-bottom: 1rem;
}
.member-types-container label div{
    margin:.5rem 0;
}
.member-types-container label div.title{
    font-size: 1.5rem;
    background-color: #ddd;
    color: #404040;
    margin: 1rem 0;
    padding: 1rem;
}

.member-types-container label.dark{
    background-color: #404040;
    color: #fff;
}


/* Adds */

.adds-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.adds-container .adds-item{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: .8rem;
    margin: 5px;
    transition: .3s border-color;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.3rem;
}
.adds-container .adds-item a{
    text-decoration: none;
}
.adds-container .adds-item:hover{
    border-color: #404040;
}
.adds-container .adds-item img{
    max-width: 200px;
    max-height: 150px;
}
.adds-container .adds-item h1{
    font-size: .8rem;
    margin: 0;
    padding: 0;
    color: #404040;
}

/* add details */
.category-properties label{
    display: block;
    border-bottom: dotted 1px #aaaaaa;
    padding-bottom: .3rem;
}
.add-owner{
    border: 1px solid #aaaaaa;
    padding: .6rem;
    text-align: center;
    
}

/* farm page */
h1{
    color:#337ab7;
    font-size: 1.5rem;
}
.farm-container{
    display: flex;
    flex-flow: row wrap;
    color: #333333;
    align-items: flex-start;
}
.farm-container h1{
    flex: 1 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.farm-container h2{
    margin: .6rem 0;
    flex: 1 100%;
    font-size: 1.2rem;
    color:#337ab7;
}
.farm-container .extras-container{
    flex: 1;
    min-width: 15rem;
}
.property-container-overlay{
    flex: 3;
    margin-right: 1.5rem;
}
.property-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.property-container .property-item{
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.3rem;
    cursor: pointer;
    margin: .5rem;
}
.property-container .property-item > *{
    max-width: 15rem;
}
.property-container .property-item .property-name{
    padding: .6rem;
    font-weight: bold;
    color:#0f0f0f
}
.property-container .property-item .property-desc, .property-container .property-item .property-last-modified{
    padding: 0 .6rem 0rem .6rem;
    font-size: .8rem;
    color: #808080;
}

.property-container .property-item .property-last-modified{
    padding-bottom: .6rem;
    font-size: .8rem;
    color: #808080;
}
.property-container .property-item .property-desc, .property-container .property-item .property-last-modified, .property-container .property-item .property-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ioe-container{
    display: flex;
    flex-flow: row wrap;
}
.ioe-container .ioe-item{
    flex: 1 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: .6rem;
    padding: .5rem;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.3rem;
}
.ioe-container .ioe-cost, .ioe-container .ioe-name{
    display: inline-block;
}
.ioe-container .ioe-cost{
    font-weight: bold;
    margin-right: .5rem;
}
.ioe-container .ioe-delete a, .collaborator-container .collaborator-item .collaborator-delete a, .entityd-container .entityd-item .entityd-delete a{
    color: #c80000;
}


.collaborator-container{
    display: flex;
    flex-flow: row wrap;
}
.collaborator-container .collaborator-item{
    flex: 1 100%;
    display: flex;
    margin-bottom: .6rem;
    padding: .5rem;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.3rem;
    align-items: center;
    justify-content: space-between;
}
.collaborator-container .collaborator-item img{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-right: .5rem;
}
.collaborator-container .collaborator-item > div > div > div, .collaborator-container .collaborator-item > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.collaborator-container .collaborator-item .collaborator-name{
    font-weight: bold;
}
.collaborator-container .collaborator-item  > div > div > div > div{
    font-size: .8rem;
    color: #808080;
}
.collaborator-container .collaborator-item .collaborator-username{
    margin-right: .5rem;
}
.btn-plus{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    font-size: 1.5rem;
    border: none;
    background-color: #66AF33;
    border-radius: 100%;
    color:#fff;
    padding: .5rem .8rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0 .3rem 0.3rem;
    outline: none;
    z-index: 1;
}
.btn-plus:focus{
    border: none;
    outline: none;
}

.product-container .product-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: .6rem;
    padding: .5rem;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.3rem;
}
.product-container .product-name{
    display: inline-block;
}
.product-container .product-delete a{
    color: #c80000;
}

.express-menu{
    display: none;
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    max-width: 15rem;
    background-color: #66AF33;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.3rem;
    z-index: 100;
}
.express-menu.active{
    display: block;
}
.express-menu a.express-menu-item{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1rem;
    transition: .3s background-color;
}
.express-menu a.express-menu-item:hover{
    background-color: rgb(115, 177, 71);
}

/* property page */
.entity-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.entity-container .entity-item{
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.3rem;
    cursor: pointer;
    margin: .5rem;
}
.entity-container .entity-item > *{
    max-width: 15rem;
}
.entity-container .entity-item .entity-name{
    padding: .6rem;
    font-weight: bold;
    color:#0f0f0f
}
.entity-container .entity-item .entity-id, .entity-container .entity-item .entity-last-modified{
    padding: 0 .6rem 0rem .6rem;
    font-size: .8rem;
    color: #808080;
}

.entity-container .entity-item .entity-last-modified{
    padding-bottom: .6rem;
    font-size: .8rem;
    color: #808080;
}
.entity-container .entity-item .entity-id, .entity-container .entity-item .entity-last-modified, .entity-container .entity-item .entity-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Entity page */


.entityd-container{
    display: flex;
    flex-flow: row wrap;
}
.entityd-container .entityd-item{
    flex: 1 100%;
    display: flex;
    margin-bottom: .6rem;
    padding: .5rem;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.3rem;
    align-items: center;
    justify-content: space-between;
}
.entityd-container .entityd-item > div > i{
    font-size: 1.5rem;
    margin-right: .5rem;
}
.entityd-container .entityd-item > div > div > div, .entityd-container .entityd-item > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.entityd-container .entityd-item .entityd-name{
    font-weight: bold;
}
.entityd-container .entityd-item  > div > div > div > div{
    font-size: .8rem;
    color: #808080;
}
.entityd-container .entityd-item .entityd-date{
    margin-right: .5rem;
}